<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="py-6 px-12 bg-purple-700 flex justify-between items-center">
      <a href="/" class="text-white text-3xl">Social Media</a>\
      <a href="/about/" class="text-white">About</a>
    </nav>

    <main class="py-6 px-12">
    {% block content %}{% endblock %}
    </main>
  </body>
</html>