{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}


{% block content %}
   
 <h2 class="text-3xl">{{ post.title }}</h2>
 <span class="text-sm text-gray-500">{{ post.created_at }}</span>
 <div class="text-lg">
    {{ post.content }}
</div>"

<div class="mt-8">
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="py-4 px-8 bg-blue-700 text-white rounded">Submit</button>
    </form>
</div>

 {% endblock %}